$white: white;
$button_color: #0071e0;
$button_color_hover: #3398EA;
$gray:#666;
$form_color: #323A45;
$text_color: #47525d;
$button_h:40px;
$button_w:110px;


$size-h1:44px;
$family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif